# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
SpotifyCache/src/SpotifyCache.Web.Host/App_Data/Logs/
SpotifyCache/src/SpotifyCache.Web.Mvc/App_Data/Logs/
SpotifyCache/src/SpotifyCache.Migrator/Logs/Logs.txt
